<div class="container">
  <div class="collapse navbar-collapse nav" id="navbarResponsive">
    <ul class="navbar-nav ms-auto py-4 py-lg-0 col-8">
      <li class="nav-item">
        <a class="nav-link px-lg-3 py-3  " href="{% url 'blog:home' %}"
          >خانه</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link px-lg-3 py-3 ms-2" href="{% url 'blog:posts' %}" id="maghalat">وبلاگ</a>
        <ul>
          {% for cat in category %} {% if cat.parent == None %}
          <li class="nav-item" style="background-color: #112D4E;">
            <a
              id="maghalat2"
              class="nav-link px-lg-3 py-2 my-1 text-center"
              href="{% url 'blog:category' cat.slug %}"
              >{{ cat.title }}</a
            >
            {% if cat.children.active %} {% include
            "blog/partials/category_loop.html" %} {% endif %}
          </li>
          {% endif %} {% endfor %}
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link px-lg-3 py-3 " href="{% url 'login' %}"
          >ورود کاربر</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link px-lg-3 py-3 " href="{% url 'register' %}"
          >ثبت نام</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link px-lg-3 py-3 " href="{% url 'blog:contact' %}"
          >تماس با ما</a
        >
      </li>
    </ul>
    <form class="form-inline mt-2 d-flex" action="{% url 'blog:search' %}">
      <input type="text" name="q" class="form-control d-flex" placeholder="جستجوی متن" />
      <button class="btn btn-primary rounded justify-content-center d-flex align-items-center" style="width:55px; height:40px;">جستجو</button>
    </form>
  </div>
</div>
