{% extends 'blog/base.html' %}
{% load static %}

{% block contact %}
  
<!-- Page Header-->
<header class="masthead" style="background-color: #DBE2EF;">
    <div class="container position-relative px-4 px-lg-5" >
        <div class="row gx-4 gx-lg-5 justify-content-center" >
            <div class="col-md-10 col-lg-8 col-xl-7" >
                <div class="page-heading">
                    <h1 >تماس با ما</h1>
                    <span class="lead">پیشنهادات، نظرات و انتقادات خودتان را می‌توانید از طریق فرم تماس پایین صفحه با ما در میان بگذارید که بسیار مشتاق شنیدن هستیم و تلاش میکنیم روز به روز به کمک شما عزیزان بهتر شویم.</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
{% if message_name %}
<div class="container px-5 py-4">
    <div class="muted justify-content-center">
        <span> <h5>{{message_name}} عزیز</h5>از پیامی که ارسال کردی ممنونیم. پیام شما در اسرع وقت پاسخ داده می شود.</span>
    </div>
</div>
{% endif %}

<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-6">
                <div class="my-5 shadow-sm p-3 mb-5 bg-body rounded text-muted border justify-content-end">
                    <form id="contactForm" data-sb-form-api-token="API_TOKEN" method="POST" action="{% url 'blog:contact' %}">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label d-block">نام</label>
                            <input type="text" class="form-control" id="exampleFormControlInput1" name="message-name">
                          </div>
                          <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label d-block">ایمیل</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" name="message-email">
                          </div>
                          <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label d-block">متن پیام</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" cols="50" name="message"></textarea>
                          </div>
                        <!-- Submit Button-->
                        <button class="btn btn-primary rounded justify-content-center d-flex align-items-center me-5 mt-3 py-4 fs-5" style="width:100px; height:40px;" type="submit">ارسال</button>
                    </form>
                </div>
            </div>
            <div class="col-md-10 col-lg-8 col-xl-6">
                <img src="{% static 'blog/assets/img/envelope.png' %}" class="img-fluid">
            </div>
        </div>
    </div>
</main>
{% endblock contact %}


