{% extends 'blog/base.html' %}
{% load ratings %}
{% load base_tags %}
{% load static %}
{% load humanize %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% crispy form form.helper %}

{% block main %}

<!-- Slider -->

<div class="">{% hot_articles %}</div>


<div class="px-4 px-lg-5 py-4">
    <div class="row gx-lg-5 justify-content-center me-5">
        <h2 class="last_title">پست های اخیر</h2>
        <div class="title__sep"></div>
        <div class="title__btn text-muted py-3"><a href="{% url 'blog:posts' %}">موارد بیشتر</a></div>
        <div class="col-md-4 col-lg-8">
            <!-- Post preview-->
            {% block header %}{% endblock header %}

           
           <div class="py-4">
                <main>
                    <div class="row">
                        {% for article in object_list|slice:":3" %}
                            <div class="col-lg-4 rounded post-preview" style="max-width:100%; height:auto;">
                                <div class="card mb-3" style="width:250px; height:650px;">
                                    <a href="{% url 'blog:detail' article.slug %}">
                                        <img src="{{article.thumbnail.url}}" class="card-img-top px-4 py-1 mt-1 rounded" alt="...">
                                    </a>
                                        <div class="card-body">
                                        <a href="{% url 'blog:detail' article.slug %}">
                                            <h4 class="card-title mb-4">{{article.title}}</h4>
                                            {% if article.is_special %}
                                                <span style="font-size:14px;color:red;">ویژه</span>
                                            {% endif %}
                                        </a>
                                        <p class="card-text">{{article.description|safe|striptags|truncatewords:20|slice:"-2"}}
                                            <a href="{% url 'blog:detail' article.slug %}">بیشتربخوانید...</a>
                                        </p>
                                        
                                    </div>
                                    
                                    <div class="card-footer">
                                    <small class="text-muted">{{article.publish|naturaltime}}</small>
                                    <a href="{% url 'blog:author' article.author %}">{{article.author.get_full_name}}</a>
                                    </div>
                                </div>
                            </div>
                        {% empty %}
                            <p>محتوایی برای نمایش وجود ندارد.</p>
                        {% endfor %}
                    </div>
                    
                </main>
           </div>
        </div>
    </div>

</div>
<!-- Contact-->


<div class="py-4">
    <section class="container">
        <h2 class="text-center display-5 mt-5">Contact {{message_name}}</h2>
        <p class="lead text-muted mb-5 pb-3 text-center">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
        <div class="row g-4">
            <div class="col-md-6">
            <div class="row g-4">
                <div class="col-md-6">
                    <div class="bg-light rounded p-4">
                    <svg class="text-primary" xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                        <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                        <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                    </svg>
                    <h2 class="mt-5">Address</h2>
                    <div>A108 Adam street,</div>
                    <div>New York, NY 535022</div>
                    </div>
                </div>
                <div class="col-md-6">
                <div class="bg-light rounded p-4">
                    <svg class="text-primary" xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
                        <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                    </svg>
                    <h2 class="mt-5">Telephone</h2>
                    <div>A108 Adam street,</div>
                    <div>New York, NY 535022</div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="bg-light rounded p-4">
                    <svg class="text-primary" xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                        <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
                    </svg>
                    <h2 class="mt-5">Email</h2>
                    <div>A108 Adam street,</div>
                    <div>New York, NY 535022</div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="bg-light rounded p-4">
                    <svg class="text-primary" xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-clock-history" viewBox="0 0 16 16">
                        <path d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022l-.074.997zm2.004.45a7.003 7.003 0 0 0-.985-.299l.219-.976c.383.086.76.2 1.126.342l-.36.933zm1.37.71a7.01 7.01 0 0 0-.439-.27l.493-.87a8.025 8.025 0 0 1 .979.654l-.615.789a6.996 6.996 0 0 0-.418-.302zm1.834 1.79a6.99 6.99 0 0 0-.653-.796l.724-.69c.27.285.52.59.747.91l-.818.576zm.744 1.352a7.08 7.08 0 0 0-.214-.468l.893-.45a7.976 7.976 0 0 1 .45 1.088l-.95.313a7.023 7.023 0 0 0-.179-.483zm.53 2.507a6.991 6.991 0 0 0-.1-1.025l.985-.17c.067.386.106.778.116 1.17l-1 .025zm-.131 1.538c.033-.17.06-.339.081-.51l.993.123a7.957 7.957 0 0 1-.23 1.155l-.964-.267c.046-.165.086-.332.12-.501zm-.952 2.379c.184-.29.346-.594.486-.908l.914.405c-.16.36-.345.706-.555 1.038l-.845-.535zm-.964 1.205c.122-.122.239-.248.35-.378l.758.653a8.073 8.073 0 0 1-.401.432l-.707-.707z"/>
                        <path d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0v1z"/>
                        <path d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z"/>
                    </svg>
                    <h2 class="mt-5">Time</h2>
                    <div>A108 Adam street,</div>
                    <div>New York, NY 535022</div>
                </div>
            </div>
            </div>
            </div>
            <div class="col-md-6"> 
                <!-- <form class="bg-light p-4 rounded" action="{% url 'blog:newsletter_signup' %}" method="POST">
                    {% csrf_token %} -->
                    <!-- <div class="mb-3 ">
                        <label for="contactFullname" class="form-label d-block">Fullname</label>
                        <input type="text" name="message-name" class="form-control d-block" id="contactFullname" placeholder="Amin Tavakoli">
                    </div> -->
                    <!-- <div class="mb-3">
                        <label for="contactEmail" class="form-label d-block">Email address</label>
                        <input type="email" name="message-email" class="form-control d-block" id="contactEmail" placeholder="name@example.com">
                        
                    </div> -->
                    <!-- <div class="mb-3">
                        <label for="contactComment" class="form-label d-block">Your comment</label>
                        <textarea name="message" class="form-control d-block" id="contactComment" rows="6" cols="40"></textarea>
                    </div> -->
                    <!-- <button class="btn btn-primary" style="margin-bottom:30px;"></button> -->
                    <!-- <div class="input-group"> -->
                    <!-- <div class="form-group">
                        <span>ایمیل</span>
                        {{form.email|add_class:"form-control"}}
                        {% if form.email.errors %}
                            <div class="errors">
                                {% for error in form.email.errors %}
                                <span>{{error}}ایمیل</span>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>    
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">ثبت نام</button>
                    </span>
                    </div> -->
                <!-- </form> -->
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-lg-offset-3">
                          <h3 class="text-center">ثبت نام در خبرنامه وبلاگ کتاب گیر</h3>
                            {% if messages %}
                                {% for message in messages %}
                                    <div {% if message.tags %} class="{{ message.tags }}" {% endif %} role="alert">
                                        {{ message }}
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>
                                {% endfor %}
                            {% else %}
                                    <form method="POST" action="{% url 'blog:newsletter_signup' %}">
                                        {% csrf_token %}
                                        <input type="email" name="email" class="form-control d-block" id="email" value="{{form.non_field_errors}}">
                                        <button class="btn btn-default" type="submit">ثبت نام</button>
                                    </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


{% endblock main %}
